@model IEnumerable<Billing.DTOs.DTOs.QuotationListDTO>;
@{

    var _inc = 1;
}
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width="5%" class="text-center">Serial No.</th>
                <th>Quotation  No</th>
                <th>Car No</th>
                <th>Status</th>
                <th>Total Amount</th>
                <th>GST Amount</th>
                <th>FST Amount</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="5%" class="text-center">@_inc</td>
                        <td>@item?.QuotationNo</td>
                        <td>@item?.CarNo</td>
                        <td>@item?.StatusName</td>
                        <td>@item?.TotalAmount</td>
                        <td>@item?.TotalGstTax</td>
                        <td>@item?.TotalRepairTax</td>
                        <td>
                            <a 
                                data-ajax="true"
                                data-ajax-method="get"
                                data-ajax-mode="replace"
                                data-ajax-success="addUpdateQuotationSuccess"
                                href='@Url.Action("EditQuotation", "Quotation",new { id=item?.Id})'>
                                <span>Edit</span>
                            </a>
                        </td>
                        <td>
                            <a href='@Url.Action("DeleteQuotation", "Quotation",new { id=item?.Id})'>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    _inc = _inc + 1;
                }
            }

        </tbody>
    </table>
</div>