@model IList<Billing.DTOs.DTOs.OrganizationDTO>;
@using Billing.Common.Helper;
@{

    var _inc = 1;
}
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width="5%" class="text-center">Serial No.</th>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="5%" class="text-center">@_inc</td>
                        <td>@item?.Name</td>
                        <td>@item?.OrganizationType?.GetEnumDescription()</td>

                        <td>
                            <a data-ajax="true"
                               data-ajax-method="get"
                               data-ajax-mode="replace"
                               data-ajax-success="addUpdateOrganizationSuccess"
                               data-ajax-url="@Url.Action("EditOrganization", "Organization",new { Id=item?.Id})">Edit</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="Billing_Organization.DeleteOrganization('/Organization/DeleteOrganization', '@item.Id')">
                                <span>Delete</span>

                            </a>
                            
                        </td>
                    </tr>
                    _inc = _inc + 1;
                }
            }

        </tbody>
    </table>
</div>