@model Billing.DTOs.DTOs.OrganizationDTO;
@using Billing.Common.Helper;
@using Billing.Enum
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="hi_form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="post" action="@Url.Action("EditOrganization","Organization")">
                    <div class="row">
                        <input type="hidden" asp-for="Id" value="@Model?.Id" />

                        <input id="leadid_token" name="universal_leadid" type="hidden" value="" />
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="text" id="fname" class="form-control" asp-for="Name" value="@Model?.Name">
                                    <label class="form-control-placeholder" for="fname">Name </label>
                                    <span asp-validation-for="Name" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <select asp-for="OrganizationType"
                                            class="form-control"
                                            asp-items="Html.GetEnumSelectList<OrganizationEnum.OrganizationType>()">
                                        <option>Select type ...</option>
                                    </select>
                                    <span asp-validation-for="OrganizationType" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-6 ">
                            </div>
                            <div class="col-6 ">
                                <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne"
                                        class="btn btn-primary form-btn continue"
                                        type="submit">
                                    <span>Update</span>
                                </button>
                            </div>
                        </div>
                </form>

            </div>

        </div>
    </div>
</div>
