@model IList<Billing.DTOs.DTOs.RepairingDTO>;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">RepairWork Listing</h6>
                </div>
                <div class="card-header py-3">
                    <a data-ajax="true"
                       data-ajax-method="get"
                       data-ajax-mode="replace"
                       data-ajax-success="addUpdateRepairWorkSuccess"
                       data-ajax-url="@Url.Action("AddUpdateRepairingForm", "Repairing")">
                        <input type='button' value='Add RepairWork' class="btn btn-primary" />
                    </a>
                </div>
                <div class="card-body grid-div">
                    <partial name="_RepairingGrid" />
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>

<div class="modal fade" id="RepairWorkModal" tabindex="-1" role="dialog" aria-labelledby="RepairWorkModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repairing-modal-body">

        </div>
    </div>
</div>

<script src="~/ControllerJs/RepairWork.js" asp-append-version="true"></script>
