@model Billing.DTOs.DTOs.LoginDTO;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuantumPro | Sign In</title>
    <!-- ================== GOOGLE FONTS ==================-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <!-- ======================= GLOBAL VENDOR STYLES ========================-->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.css">
    <!-- ======================= LINE AWESOME ICONS ===========================-->
    <link rel="stylesheet" href="~/assets/css/icons/line-awesome.min.css">
    <!-- ======================= DRIP ICONS ===================================-->
    <link rel="stylesheet" href="~/assets/css/icons/dripicons.min.css">
    <!-- ======================= MATERIAL DESIGN ICONIC FONTS =================-->
    <link rel="stylesheet" href="~/assets/css/icons/material-design-iconic-font.min.css">
    <!-- ======================= GLOBAL COMMON STYLES ============================-->
    <link rel="stylesheet" href="~/assets/css/common/main.bundle.css">
    <!-- ======================= LAYOUT TYPE ===========================-->
    <link rel="stylesheet" href="~/assets/css/layouts/vertical/core/main.css">
    <!-- ======================= MENU TYPE ===========================================-->
    <link rel="stylesheet" href="~/assets/css/layouts/vertical/menu-type/default.css">
    <!-- ======================= THEME COLOR STYLES ===========================-->
    <link rel="stylesheet" href="~/assets/css/layouts/vertical/themes/theme-a.css">
</head>

<body>
    <div class="container">
        <form class="sign-in-form" method="post" action="@Url.Action("login","Account")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-body">
                    <a href="index.html" class="brand text-center d-block m-b-20">
                        <img src="~/assets/img/qt-logo@2x.png" alt="QuantumPro Logo" />
                    </a>
                    <h5 class="sign-in-heading text-center m-b-20">Sign in to your account</h5>
                    <div class="form-group">
                        <label asp-for="Email" class="sr-only">Email address</label>
                        <input asp-for="Email" class="form-control" placeholder="Email address">
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="sr-only">Password</label>
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox m-b-10 m-t-20 d-none">
                        <div class="custom-control custom-checkbox checkbox-primary form-check">
                            <input type="checkbox" class="custom-control-input" id="stateCheck1" checked="">
                            <label class="custom-control-label" for="stateCheck1">	Remember me</label>
                        </div>
                        <a href="auth.forgot-password.html" class="float-right">Forgot Password?</a>
                    </div>
                    <button class="btn btn-primary btn-rounded btn-floating btn-lg btn-block" type="submit">Sign In</button>
                </div>

            </div>
        </form>
    </div>

    <!-- ================== GLOBAL VENDOR SCRIPTS ==================-->
        <script src="~/assets/vendor/modernizr/modernizr.custom.js"></script>
        <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <partial name="_ValidationScriptsPartial">

        <!-- ================== GLOBAL APP SCRIPTS ==================-->
        @*<script src="~/assets/js/global/app.js"></script>*@

</body>

</html>
