@model Billing.DTOs.DTOs.TaxDTO;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="hi_form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="post" action="@Url.Action("CreateTax","Tax")">
                    <div class="row">
                        <input type="hidden" asp-for="Id" />

                        <input id="leadid_token" name="universal_leadid" type="hidden" value="" />
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="text" id="fname" class="form-control" asp-for="Type">
                                    <label class="form-control-placeholder" for="fname">Type </label>
                                    <span asp-validation-for="Type" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="text" id="fname" class="form-control" asp-for="Percent">
                                    <label class="form-control-placeholder" for="fname">Percent </label>
                                    <span asp-validation-for="Percent" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-6 ">
                            </div>
                            <div class="col-6 ">
                                <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne"
                                        class="btn btn-primary form-btn continue"
                                        type="submit">
                                    <span>Submit</span>
                                </button>
                            </div>
                        </div>
                </form>

            </div>

        </div>
    </div>
</div>